.about {
    min-height: 100vh;
    padding: 120px 0px 50px 0px;
    .container{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    h2 {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        position: relative;
        &::after {
            content: "";
            background-color: #00abf0;
            width: 100px;
            border-radius: 5px;
            height: 4px;
            left: 50%;
            bottom: 0;
            position: absolute;
        }
    }
    .about-details {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        img {
            width: 47%;
        }

        .about-info {
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            h3 {
                font-size: 30px;
                font-weight: 600;
                color: #00abf0;
            }

            p {
                font-size: 19px;
                font-weight: 500;
            }

            a {
                color: #FFFFFF;
                font-size: 19px;
                font-weight: 500;
                text-decoration: underline;
            }

            .goto-resume {
                width: 150px;
                height: 40px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 19px;
                font-weight: 500;
                color: #00abf0;
                border-radius: 8px;
                background-color: transparent;
                border: 2px solid #00abf0;
                overflow: hidden;
                position: relative;
                z-index: 1;
                text-decoration: none;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: #00abf0;
                    width: 0;
                    height: 100%;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                    transition: all .3s ease;
                }

                &:hover {
                    color: #081b29;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .about {
        h2 {
            font-size: 35px;
        }
        .about-details {
            .about-info {
                row-gap: 13px;
                h3 {
                    font-size: 28px;
                }
                p {
                    font-size: 17px;
                }
                a {
                    font-size: 17px;
                }
                .goto-resume {
                    width: 140px;
                    font-size: 17px;
                }
            }
        }
    }
}
@media(max-width: 992px) {
    .about {
        padding: 117px 0px 50px 0px;
        h2 {
            font-size: 32px;
        }
        .about-details {
            .about-info {
                row-gap: 11px;
                h3 {
                    font-size: 26px;
                }
                p {
                    font-size: 16px;
                }

                a {
                    font-size: 16px;
                }
                .goto-resume {
                    font-size: 16px;
                }
            }
        }
    }
}
@media(max-width: 768px) {
    .about {
        h2 {
            font-size: 30px;
        }
        .about-details {
            .about-info {
                row-gap: 10px;
                h3 {
                    font-size: 25px;
                }
            }
        }
    }
}
@media(max-width: 576px) {
    .about {
        min-height: 100vh;
        padding: 106.4px 0px 0px 50px 0px;
        .container{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }
        h2 {
            font-size: 30px;
            &::after {
                width: 75px;
            }
        }
        .about-details {
            flex-direction: column-reverse;
            row-gap: 30px;
            img {
                width: 100%;
            }
            .about-info {
                row-gap: 13px;
    
                h3 {
                    font-size: 28px;
                }
    
                p {
                    font-size: 17px;
                }
    
                a {
                    font-size: 17px;
    
                }
    
                .goto-resume {
                    margin: 0 auto;
                    width: 130px;
                }
            }
        }
    }
}