nav{
    padding: 15px 0px;
    background-color: #112e42;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 30px;
        }
        .links{
            display: flex;
            align-items: center;
            gap: 30px;
            a{
                color: #FFFFFF;
                font-size: 18px;
                font-weight: 500;
                position: relative;
                padding: 0px 10px;
                &::after{
                    position: absolute;
                    content: "";
                    background-color: #00abf0;
                    width: 0;
                    height: 2px;
                    left: 0;
                    bottom: -5px;
                    transition: all .3s ease;
                }
                &:hover::after{
                    width: 100%;
                }
                &.active{
                    transform: translateY-(5px);
                    color: #00abf0;
                }
                &.active::after{
                    width: 100%;
                }
            }
            button{
                width: 150px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #00abf0;
                letter-spacing: 1px;
                font-size: 18px;
                font-weight: 500;
                border: 2px solid #00abf0;
                border-radius: 8px;
                color: #000000;
                cursor: pointer;
            }
        }
    }
}