footer{
    padding: 15px 0px;
    background-color: #112e42;
    p{
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        a{
            color: #00abf0;
        }
    }
}
@media(max-width: 576px){
    footer{
        padding: 10px 0px;
        p{
            font-size: 14px;
            line-height: 18px;
        }
    }
}